{% extends "personal/header.html" %}

{% block content %}
	{% for c in content %}
		<h2> About me </h2>
		<p>{{c}}</p>
		<p> Maybe you are not interested at all, that's fine, but because otherwise this page is so empty: here are some facts about me yay! (Sadly they cannot be too specific, because otherwise you might find out about my identity and this should be anonymous.</p>
		<ul>
			<li> I have a bunny and a puppy and they're extremely cute</li>
			<li> I'm allergic to both. :(</li>
			<li> I live in a studenthouse in Eindhoven </li>
			<li> My landlord is an asshole</li>
			<li> I love watching Disney movies (You're never too old for a Disney movie</li>
			<li style="color:#21CAC8"> This is my favorite colour</li>
			<li> Website building is challenging, but quite cool </li>
			<li> I would love to see the Northern Lights</li>
		
	{% endfor %}

{% endblock %}