{% extends "personal/header.html" %}

{% block content %}
<h2>A totally new experience...</h2>
<p>Hey you! Yes you, that's right. Talking to you here. </p>
<p> Welcome to this website. Created especially for the course Web Technology, individual assignment 2. So the case is, I'm quite new to this all. Django, webframeworks, databases, SQL, (rest) API's? These words did not really ring a bell with me. After the first assignment, I've only just come to know Javascript, HTML and CSS and now I'm thrown into the deep again. As you can imagine, this was quite a challenge (and just a little bit scary and depressing), but hey - now we're here! For this assignment, I created this beautiful blog. And what is a better use for this blog then to tell you, dear reader, about my experiences while building this blog? Hope you enjoy! </p>
<p> (Please be nice to me.) </p>

{% include 'personal/includes/htmlsnippet.html' %}

{% endblock %}